<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://314935139767787:j5PZXhd8VdgBPmCqsHBlFlqBKB8@ductsqu0p"/>
    </application>

</manifest>