<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.singlesSociety" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl" >
        <activity
            android:name=".MediaFullViewActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityImageFullView"
            android:exported="false" />
        <activity
            android:name=".EventLandingActivity"
            android:exported="false" />
        <activity
            android:name=".SocietyPostDetail"
            android:exported="false" />
        <activity
            android:name=".SocietyActivity"
            android:exported="false" />
        <activity
            android:name=".SocietyInputActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.VisitProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".LiveEventActivity"
            android:exported="false" />
        <activity
            android:name=".EventLandingPage"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".SocietySwipeActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreSearch"
            android:exported="false" />
        <activity
            android:name=".DatingProfileFullView"
            android:exported="false" />
        <activity
            android:name=".VideoPostFullView"
            android:exported="false" />
        <activity
            android:name=".ImagePostFullView"
            android:exported="false" />
        <activity
            android:name=".GetResetPasswordLink"
            android:exported="false" />
        <activity
            android:name=".NewWelcome"
            android:exported="false" />
        <activity
            android:name=".Spaces"
            android:exported="false" />
        <activity
            android:name=".MainActivityV2"
            android:exported="false" />
        <activity
            android:name=".VerificationEmail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPassword"
            android:exported="true" >
            <intent-filter android:label="@string/app_name" >
                <action
                    android:name="android.intent.action.VIEW"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://fast-atoll-68106.herokuapp.com/public/api/reset” -->
                <data
                    android:host="www.auretayya.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyListingDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserListingDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatFullImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaughtUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreferenceFilter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileImageCrop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakeActionOnProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompleteProfilePrompt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MetMatchPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyListings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpWithEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConnectWithEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompleteProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarketPlaceDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Marketplace"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainAct2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.PostFullView"
            android:screenOrientation="portrait" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>