<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singlesSociety">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.singlesSociety.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.singlesSociety.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.SocietySwipeActivity"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.ExploreSearch"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.DatingProfileFullView"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.VideoPostFullView"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.ImagePostFullView"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.GetResetPasswordLink"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.NewWelcome"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.Spaces"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.MainActivityV2"
            android:exported="false" />
        <activity
            android:name="com.singlesSociety.VerificationEmail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name="com.singlesSociety.ResetPassword">
            <intent-filter android:label="@string/app_name">
                <action
                    android:name="android.intent.action.VIEW"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://fast-atoll-68106.herokuapp.com/public/api/reset” -->
                <data
                    android:host="www.auretayya.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.singlesSociety.MyListingDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.UserListingDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.Counselling"
            android:screenOrientation="portrait"
            android:theme="@style/Light_Status_Bar" />
        <activity
            android:name="com.singlesSociety.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.singlesSociety.ChatFullImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.CaughtUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.PreferenceFilter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.ProfileImageCrop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.TakeActionOnProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.CompleteProfilePrompt"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MetMatchPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.AddListing"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MyListings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.SignUpWithEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.ConnectWithEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.PreviewProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.CompleteProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MarketPlaceDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.ProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.Marketplace"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.MainAct2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.AdminProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.singlesSociety.fragments.PostFullView"
            android:screenOrientation="portrait" />

        <service
            android:name="com.singlesSociety.NotificationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>